<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="container wrapper">

    <div class="row">
      <div class="col">
        <ul class="contact-list">
          <li class="p-name">Report issues to: </li><li><a class="u-email" href="mailto:{{ site.support_email }}">{{ site.support_email }}</a></li>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-muted">Created on 11/7/2019 by Santiago Loane. Last updated on 11/8/2019.</p>
        <p class="text-muted"> For internal Northland Controls use only.</p>
      </div>
    </div>
  </div>
</footer>